/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* General */
body {
  font-family: 'Arimo', sans-serif; }

.body-contacto {
  background-color: #EFEFEF; }

/* estilos header */
.header-index {
  display: flex;
  justify-content: end;
  margin-top: 1rem; }
  .header-index h1 {
    color: #7882A4;
    margin-right: 2rem;
    margin-left: 2rem; }
  .header-index h2 {
    color: #7882A4;
    margin-right: 2rem; }
  .header-index .div-header img {
    width: 80px;
    height: 80px;
    margin-top: 3rem;
    margin-right: 2rem;
    display: none; }

/* estilos de main */
.main-index {
  margin-top: 1rem; }
  .main-index .div-index-lorem {
    color: #7882A4;
    text-align: center;
    font-weight: bold; }

.section-index {
  display: none; }

/* estilos de footer */
.footer-index {
  text-align: center;
  margin-top: 1rem;
  background-color: #fcdab8; }
  .footer-index h3 {
    color: #7882A4; }
  .footer-index div .img-footer {
    height: 40px;
    width: 40px;
    margin: 5px;
    animation-name: animacion-footer;
    animation-duration: 6s;
    animation-iteration-count: infinite; }
  .footer-index p {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #7882A4; }

/* estilos contacto */
.body-contacto {
  background-color: #EFEFEF; }
  .body-contacto .main-contacto {
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
    margin: 3%; }
    .body-contacto .main-contacto p {
      margin: 2rem; }
    .body-contacto .main-contacto .horarios {
      margin-top: 5%;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 10%;
      text-align: center;
      text-transform: initial; }
    .body-contacto .main-contacto section .formulario {
      align-items: center;
      margin-top: 0rem; }

/* media queries */
@media screen and (min-width: 800px) {
  .body-contacto .section-index {
    padding: 2rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2fr, 2fr, 2fr, 2fr);
    grid-template-rows: 2fr,2fr;
    grid-template-areas: "img-uno img-dos img-tres img-cuatro" "calidad tiempo asesoramiento prototipado";
    justify-content: center;
    justify-items: center; }
  .img-uno {
    grid-area: img-uno; }
  .img-dos {
    grid-area: img-dos; }
  .img-tres {
    grid-area: img-tres; }
  .img-cuatro {
    grid-area: img-cuatro; }
  .calidad {
    grid-area: calidad; }
  .tiempo {
    grid-area: tiempo; }
  .asesoramiento {
    grid-area: asesoramiento; }
  .prototipado {
    grid-area: prototipado; }
  .section-index div {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: imagenes-cuatro;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  h4 {
    text-align: center;
    color: #7882A4; }
  p {
    color: black;
    text-align: center; }
  .section-index div img {
    width: 60%; } }

/*logos solo en pantalla mas grande*/
@media screen and (min-width: 1100px) {
  .body-contacto .header-index .div-header img {
    display: inline-block;
    margin-top: -3.6rem; } }

/*text de cards te procesos y productos*/
@media screen and (min-width: 1100px) {
  .body-contacto .tarjetas-procesos div p {
    display: block; }
  .main-productos .card .card-text {
    display: block;
    color: black; } }

/* animaciones */
@keyframes animacion-footer {
  from {
    transform: scale(0.3); }
  to {
    transform: scale(1.1); } }

@keyframes imagenes-cuatro {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

/* Estilos Empresa */
.main-empresa h3 {
  font-size: 40px;
  text-align: center;
  font-weight: bold; }

.main-empresa p {
  color: #7882A4;
  font-size: 20px; }

.main-empresa h4 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: black; }

.main-empresa .imagenes-empresa {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px; }
  .main-empresa .imagenes-empresa img {
    margin: 10px; }

.main-empresa .imagenes-alianza {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px; }
  .main-empresa .imagenes-alianza img {
    width: 400px;
    height: 400px; }

/* Estilos Procesos */
.main-empresa p {
  padding: 1rem;
  padding: 1rem; }

/* Estilos Productos y Procesos */
.main-productos h3 {
  font-size: 40px;
  text-align: center;
  font-weight: bold; }

.main-productos .p-productos {
  color: #7882A4;
  font-size: 20px;
  margin: 25px; }

.main-productos .col {
  padding: 30px; }

.main-productos .card {
  padding: 5px; }
  .main-productos .card h5 {
    text-align: center; }
  .main-productos .card p {
    display: none; }

.tarjetas-procesos .col {
  padding: 30px; }

.tarjetas-procesos .card {
  padding: 5px; }
  .tarjetas-procesos .card h5 {
    text-align: center; }
  .tarjetas-procesos .card p {
    display: none; }

/* Extend */
.header-index h1, .header-index h2, .footer-index h3, .body-contacto .main-contacto .horarios, .body-contacto .main-contacto section .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center; }
