/* Estilos Productos y Procesos */

.main-productos {
    h3{
        font-size: 40px;
        @include texto
    }
    .p-productos{
        color: $color-primero;
        font-size: 20px;
        margin: 25px;
    }
    .col{
        padding: 30px;
    }
    .card{
        padding: 5px;
        h5{
            text-align: center;
            
        }
        p{
            display: none;
        }
    }
}


.tarjetas-procesos{
    .col{
        padding: 30px;
    }
    .card{
        padding: 5px;
        h5{
            text-align: center;
        }
        p{
            display: none;
        }
    }
    }
