/* Estilos Procesos */ 

.main-empresa{
    p{
        padding: 1rem;
        padding: 1rem;
    }
}

.tarjetas-procesos{
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        margin: 15px;
        h5{
            text-align: center;
        }
        p{
            display: none;
        }
    }
    img{
        width: auto;
        height: auto;
    }
}