/* estilos de footer */

.footer-index{
    text-align: center;
    margin-top: 1rem;
    background-color: $color-tercero;
    h3{
        @extend %flex;
        color: $color-primero;
    }
    div .img-footer{
        height: 40px;
        width: 40px;
        margin: 5px;
        animation-name: animacion-footer;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    p{
        margin-top: 10px;
        @include texto;
        color: $color-primero;
    }
}