/* estilos contacto */
.body-contacto{
    background-color: $color-segundo;
    .main-contacto{
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
    margin: 3%;
    p{
        margin: 2rem;
    }
    .horarios{
        @extend %flex;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10%;
        text-align: center;
        text-transform: initial;
    }
    section{
    .formulario{
        @extend %flex;
    align-items: center;
    margin-top: 0rem;
    }
    }
    }
}


