/* reset */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* General */

body{
    font-family: 'Arimo', sans-serif; 
}
.body-contacto{
    background-color: $color-segundo;
}


/* estilos header */


.header-index{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    h1{
        @extend %flex;
        color: $color-primero;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    h2{
        @extend %flex;
        color: $color-primero;
        margin-right: 2rem;
    }
    .div-header img{
        width: 80px;
        height: 80px;
        margin-top: 3rem;
        margin-right: 2rem;
        display: none;
    }
    
}

