/* estilos de main */

.main-index{
    margin-top: 1rem;
    .div-index-lorem {
        color: $color-primero;
        @include texto;
        margin-top: 1rem;
    }
}

.section-index{
    display: none;
}
