/* media queries */

@media screen and (min-width:800px){
    
    .body-contacto .section-index{
        padding: 2rem;
        margin: 2rem;
        display: grid;
        grid-template-columns: repeat(2fr,2fr,2fr,2fr);
        grid-template-rows: 2fr,2fr;
        grid-template-areas:
        "img-uno img-dos img-tres img-cuatro"
        "calidad tiempo asesoramiento prototipado";
        justify-content: center;
        justify-items: center;
    }

    .img-uno{
        grid-area: img-uno;
    }
    .img-dos{
        grid-area: img-dos;
    }
    .img-tres{
        grid-area: img-tres;
    }
    .img-cuatro{
        grid-area: img-cuatro;
    }

    .calidad{
        grid-area: calidad;
    }
    .tiempo{
        grid-area: tiempo;
    }
    .asesoramiento{
        grid-area: asesoramiento;
    }
    .prototipado{
        grid-area: prototipado;
    }
    .section-index div{
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: imagenes-cuatro;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        }
        h4{
            text-align: center;
            color: $color-primero;
        }
        p{
            color: black;
            text-align: center;
        }
        .section-index div img{
        width: 60%;
        }
    
}





/*logos solo en pantalla mas grande*/

@media screen and (min-width:1100px){
.body-contacto{
        .header-index{
            .div-header{
                img{
                    display: inline-block;
                    margin-top: -3.6rem;
                }
            }
        }
    }
}

/*text de cards te procesos y productos*/

@media screen and (min-width:1100px){
.body-contacto{
    .tarjetas-procesos{
        div{
            p{
                display: block;
            }
        }
    }
}
.main-productos{
    .card{
        .card-text{
            display: block;
            color: black;
        }
    }
}
}



/* animaciones */

@keyframes animacion-footer {
    from{
        transform: scale(0.3);
    }
    to{
        transform: scale(1.1);
    }
}

@keyframes imagenes-cuatro {
    0%{
        transform: translateY(0);
    }
    50%{
        transform:translateY(5px);
    }
    100%{transform:translateY(0);
    }
}
